<!DOCTYPE html>
<html>
<head>
  <title>ApiMuncher</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
  <div class="row">
    <div class="small-4 column">
      <footer>Powered by: &copy;Edamam Recipe Search</footer>
    </div>
  </div>
</body>
</html>
